* {
  box-sizing: border-box;
}


:root {
  --main-color: #333;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color)
}

body {
  margin: 0;
  min-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #6699cc;
  padding: 0 30px;
  height: 110px;
}


.menu__principal {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.menu__navegacion {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.menu__navegacion > li {
  list-style: none;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
