* {
  box-sizing: border-box;
}


:root {
  --main-color: #333;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color)
}

body {
  margin: 0;
  min-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #6699cc;
  padding: 0 30px;
  height: 110px;
}


.menu__principal {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.menu__navegacion {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.menu__navegacion > li {
  list-style: none;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f60;
  justify-content: space-between;
  padding: 0 30px;
  height: 90px;
  align-items: center;

}
.contador__icono {
  color: var(--main-color)  
}

.texto {
  font-size: 35px;
}

.formulario {
  display: flex;
  flex-direction: column;
  background-color: #ff9933;
  padding: 20px 30px;
  min-height: 100vw;
}

h2 {
  color: var(--main-color);
  font-size: 35px;
}

.texto-formulario {
  font-size: 20px;
}

.formulario-cliente, input {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.boton-modificar {
  width: 100px;
  background-color: blue;
  color: white;
  border: black;
}

